<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>studentmanage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>acdemyList</servlet-name>
    <servlet-class>admin_Servlet.AcdemyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acdemyList</servlet-name>
    <url-pattern>/AcdemyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acdemyAdd</servlet-name>
    <servlet-class>admin_Servlet.AcdemyAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acdemyAdd</servlet-name>
    <url-pattern>/AcdemyAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acdemyDelete</servlet-name>
    <servlet-class>admin_Servlet.AcdemyDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acdemyDelete</servlet-name>
    <url-pattern>/acdemyDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherList</servlet-name>
    <servlet-class>admin_Servlet.AdminTeacherList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherList</servlet-name>
    <url-pattern>/teacherList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherEdit</servlet-name>
    <servlet-class>admin_Servlet.TeacherEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherEdit</servlet-name>
    <url-pattern>/admin_teacherEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherEditdo</servlet-name>
    <servlet-class>admin_Servlet.TeacherEditDo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherEditdo</servlet-name>
    <url-pattern>/admin_TeacherEditdo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherDelete</servlet-name>
    <servlet-class>admin_Servlet.TeacherDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDelete</servlet-name>
    <url-pattern>/TeacherDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherAdd</servlet-name>
    <servlet-class>admin_Servlet.TeacherAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAdd</servlet-name>
    <url-pattern>/TeacherAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcdemyEditdo</servlet-name>
    <servlet-class>admin_Servlet.AcdemyEditdo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcdemyEditdo</servlet-name>
    <url-pattern>/AcdemyEditdo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcdemyEdit</servlet-name>
    <servlet-class>admin_Servlet.AcdemyEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcdemyEdit</servlet-name>
    <url-pattern>/AcdemyEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacher_GradeListServlet</servlet-name>
    <servlet-class>teacher_servlet.GradeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacher_GradeListServlet</servlet-name>
    <url-pattern>/teacher_GradeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacher_GradeAddServlet</servlet-name>
    <servlet-class>teacher_servlet.GradeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacher_GradeAddServlet</servlet-name>
    <url-pattern>/teacher_GradeAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_gradeEdit</servlet-name>
    <servlet-class>admin_Servlet.StudentGradeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_gradeEdit</servlet-name>
    <url-pattern>/admin_gradeEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_gradeEditdo</servlet-name>
    <servlet-class>admin_Servlet.StudentGradeEditDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_gradeEditdo</servlet-name>
    <url-pattern>/admin_gradeEditdo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_gradeDelete</servlet-name>
    <servlet-class>admin_Servlet.StudentGradeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_gradeDelete</servlet-name>
    <url-pattern>/admin_gradeDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_StudentDelete</servlet-name>
    <servlet-class>admin_Servlet.admin_StudentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_StudentDelete</servlet-name>
    <url-pattern>/admin_StudentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin_CourseList</servlet-name>
    <servlet-class>admin_Servlet.admin_CourseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_CourseList</servlet-name>
    <url-pattern>/admin_CourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownGrade</servlet-name>
    <servlet-class>teacher_servlet.DownGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownGrade</servlet-name>
    <url-pattern>/DownGrade</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>Filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>StudentServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Teacherlogin</servlet-name>
    <servlet-class>StudentServlet.TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacherlogin</servlet-name>
    <url-pattern>/TeacherLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>a</servlet-name>
    <servlet-class>StudentServlet.AdmLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/AdmLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stugrade</servlet-name>
    <servlet-class>StudentServlet.StuGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stugrade</servlet-name>
    <url-pattern>/stuGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stuInfoEdit</servlet-name>
    <servlet-class>StudentServlet.StuInfoEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stuInfoEdit</servlet-name>
    <url-pattern>/StuInfoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imageadd</servlet-name>
    <servlet-class>StudentServlet.ImageAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageadd</servlet-name>
    <url-pattern>/StudentImageAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ungrade</servlet-name>
    <servlet-class>StudentServlet.StuUnGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ungrade</servlet-name>
    <url-pattern>/StuUnGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherInfoEdit</servlet-name>
    <servlet-class>teacher_servlet.TeacherInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherInfoEdit</servlet-name>
    <url-pattern>/teacherInfoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherImageAdd</servlet-name>
    <servlet-class>teacher_servlet.TeacherImageAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherImageAdd</servlet-name>
    <url-pattern>/TeacherImageAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminInfoEdit</servlet-name>
    <servlet-class>admin_Servlet.AdminInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminInfoEdit</servlet-name>
    <url-pattern>/adminInfoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminImageAdd</servlet-name>
    <servlet-class>admin_Servlet.AdminImageAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminImageAdd</servlet-name>
    <url-pattern>/AdminImageAdd</url-pattern>
  </servlet-mapping>
</web-app>